.loaderBody {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 999;
}
  
.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #DFCC1D;
    height: 150px;
    width: 150px;
}
  
@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
}